{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact Form</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <main>
            

            <form method="post" action="." novalidate>
                <h1>Contact Form</h1>
                {% csrf_token %}
                {{ form.non_field_errors }}

                <section class="name-field">
                    <div>
                        {{ form.first_name.label_tag }}
                        <br>
                        {{ form.first_name }}
                        {% if form.first_name.errors %}
                        <div class="error">
                            {% for error in form.first_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                    </div>
                    <div>
                        {{ form.last_name.label_tag }}
                        <br>
                        {{ form.last_name }}
                        {% if form.last_name.errors %}
                        <div class="error">
                            {% for error in form.last_name.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    </section>
                
                    <section class="email-field">
                        {{ form.email.label_tag }}
                        <br>
                        {{ form.email }}
                        {% if form.email.errors %}
                        <div class="error">
                            {% for error in form.email.errors %}
                                {{ error }} 
                            {% endfor %}
                        </div>
                        {% endif %}
                      </section>

                      <section class="query-field">
                        {{ form.query_method.label_tag }}
                        {{ form.query_method }}
                        {% if form.query_method.errors %}
                            <div class="error">
                                {% for error in form.query_method.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                      </section>

                      <section class="message-field"><br>
                        {{ form.message.label_tag }}
                        <br>
                        {{ form.message }}
                        {% if form.message.errors %}
                            <div class="error">
                                {% for error in form.message.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                      </section>

                      <section class="confirm-field">
                        {{ form.agree_terms }}  <span>{{ form.agree_terms.label_tag }}</span></label>
                        {% if form.agree_terms.errors %}
                            <div class="error">
                                {% for error in form.agree_terms.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                      </section>

                <button class="submit" type="submit">Submit</button>
            </form>

        </main>
    </body>
</html>