{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Submission Successful</title>
    </head>
    <body>
        <main>
            <h1>Success!</h1>
            <p><strong>{{ first_name }}</strong> Your form has been submitted</p>
            <a href="{% url 'index'%}">Submit another response</a>
        </main>
    </body>
</html>